<!DOCTYPE html>
<html lang="en">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Account Management System</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <h1>Game Management System </h1>
    <h2> Save Game</h2>
    <form action="#" th:action="@{/saveGame}" th:object="${game}"
          method="POST">

        <input type="text" th:field="*{title}"
               placeholder="Game Title" class="form-control mb-4 col-4">

        <input type="text" th:field="*{genre}"
               placeholder="Game Genre" class="form-control mb-4 col-4">

        <input type="number" th:field="*{price}"
               placeholder="Game Price" class="form-control mb-4 col-4">



        <button type="submit" class="btn btn-info col-2"> Save Game</button>
    </form>
</div>
</body>
</html>